# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
*.dbmdl
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.v12.suo
*.DS_Store
*.ncrunch*
*.localhistory/
*.idea/
*.vscode/
*.resharper/
*.DotSettings
*.dotCover
*.TestResult*
*.coverage
*.coveragexml
*.orig
*.tmp
*.bak
*.swp
*.lock.json